.section__home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    z-index: 1;
}

.nav__social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 50px;
    position: absolute;
    left: 80px;
}

.social {
    cursor: pointer;
    transition: transform 0.5s;
}

.social:hover {
    color: greenyellow;
    transform: scale(1.15);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.6s;
    font-size: 30px;
    padding: 20px;
}

nav a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

.mode_white {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    position: absolute;
    right: 100px;
}

.mode_white:hover {
    transform: scale(1.1);
}

.name {
    font-size: 120px;
    padding: 90px;
}

.name strong {
    color: greenyellow;
}

.subtitle {
    font-size: 34px;
}

.section__about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px;
}

.about {
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
}

.section__about p {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    font-size: 30px;
}

.section__about a {
    text-align: center;
    margin-top: 60px;
}

.section__about button {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    transition: transform 1s;
}

.section__about button:hover {
    background-color: greenyellow;
    cursor: pointer;
    transform: scale(1.15);
}

.section__skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 100px;
}

.section__skills h1 {
    font-size: 40px;
    margin-top: 150px;
}

.container__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    gap: 70px;
}

.skill {
    border: solid;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    transition: transform 0.8s;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.skill:hover {
    transform: scale(1.3);
}

.bg1{
    background-color: #f06529;
}

.bg2 {
    background-color: #1572b6;
}

.bg3 {
    background-color: #61dafb;
}

.bg4 {
    background-color: #f7df1e;
}

.bg5 {
    background-color: #7842c6;
}

.bg6 {
    background-color: #339933;
}

.logo {
    font-size: 100px;
}

.section__education {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.section__education h1 {
    font-size: 40px;
    margin-top: 150px;
    padding: 100px;
}

.container__edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.edu {
    border: solid;
    width: 300px;
    height: 220px;
    padding: 20px;
    cursor: pointer;
    transition: transform 1s;
}

.edu:hover {
    transform: scale(1.2);
}

.edu img {
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.section__proyects {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.section__proyects h1 {
    font-size: 40px;
    margin-top: 150px;
    padding: 100px;
}

.container__proyects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.proyect {
    border-radius: 10px;
    font-size: 20px;
    border: solid;
    width: 400px;
    height: 220px;
    padding: 20px;
    cursor: pointer;
    transition: transform 1s;
}

.bgp1 {
    background-image: url(/public/images/rickandmorty.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 65px 200px rgba(0,0,0,0.6);
    
}

.bgp2 {
    background-image: url(/public/images/pokedex.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 65px 200px rgba(0,0,0,0.6);
}

.bgp3 {
    background-image: url(/public/images/crudusers.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 65px 200px rgba(0,0,0,0.6);
}

.bgp4 {
    background-image: url(/public/images/fortune.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 65px 200px rgba(0,0,0,0.6);
}

.proyect:hover {
    transform: scale(1.2);
    box-shadow: inset 0px 0px 65px 200px rgba(0,0,0,0.35);
}

.section__contac {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .section__contac h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section__contac form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: white solid;
  }
  
  .section__contac label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .section__contac input,
  .section__contac textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
  }
  
  .section__contac textarea {
    resize: vertical;
  }
  
  .section__contac button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .section__contac button:hover {
    background-color: #0056b3;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode {
    color: black;
  }
  
  .light-mode nav a {
    color: black;
  }

  .light-mode nav a:hover {
    color: greenyellow;
  }

  .light-mode .mode_white {
    border: solid;
  }

  .light-mode button {
    color: white;
    background-color: black;
    transition: transform 1s;
  }

  .light-mode button:hover {
    color: black;
    background-color: greenyellow;
    transform: scale(1.15);
  }
  
  .light-mode .proyect {
    color: white;
    border: black solid;
  }

  .light-mode form{
    border: black solid;
    color: white;
  }

  @media (max-width: 768px) {
    nav {
        padding: 30px;
    }

    .nav__social {
        position: static;
        gap: 10px;
        font-size: 24px;
        top: 80px;
        margin-right: 10px;
    }

    .mode_white {
        right: 20px;
        bottom: 26px;
        font-size: 15px;
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    nav a {
        font-size: 18px;
        padding: 10px;
        margin: 0 0 5px 0;
    }

    .name {
        font-size: 48px;
        padding: 40px;
    }

    .subtitle {
        font-size: 24px;
    }

    .section__about p {
        margin-top: 40px;
        width: 90%;
        max-width: 400px;
        font-size: 14px;
    }

    .section__about a {
        margin-top: 30px;
    }

    .section__about button {
        height: 30px;
        max-width: 100px;
        transition: transform 0.5s;
    }

    .section__about button:hover {
        transform: scale(1.1);
    }

    .section__skills {
        padding: 50px; 
    }

    .section__skills h1 {
        font-size: 30px; 
        margin-top: 50px; 
    }

    .container__skills {
        margin-top: 50px; 
        gap: 30px; 
    }

    .skill {
        height: 100px; 
        width: 100px; 
        font-size: 14px; 
    }

    .skill i {
        font-size: 50px;
    }

    .section__education h1 {
        font-size: 30px;
        margin-top: 100px;
        padding: 50px;
    }

    .container__edu {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .edu {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-bottom: 30px;
    }

    .edu img {
        max-width: 100%;
        height: auto;
        padding: 10px;
    }

    .section__proyects h1 {
        font-size: 30px;
        margin-top: 100px;
        padding: 50px;
    }

    .container__proyects {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .proyect {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-bottom: 30px;
    }

    .section__contac h1 {
        font-size: 1.5rem; 
    }

    .section__contac form {
        max-width: 300px; 
        padding: 10px; 
    }

    .section__contac label {
        margin-bottom: 0.3rem; 
    }

    .section__contac input,
    .section__contac textarea {
        padding: 8px; 
        margin-bottom: 0.5rem; 
    }

    .section__contac button {
        padding: 8px 15px; 
    }
}

@media (max-width: 480px) {
    nav {
        padding: 20px;
    }

    .nav__social {
        position: static;
        margin-top: 3px;
        gap: 10px;
        font-size: 10px;
        margin-right: 5px;
    }

    .mode_white {
        right:1px;
        bottom: 20px;
        font-size: 10px;
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    nav a {
        font-size: 10px;
        padding: 5px;
        margin: 0 0 5px 0;
    }

    .name {
        font-size: 37px;
        padding: 30px;
    }

    .subtitle {
        font-size: 20px;
    }

    .section__about p {
        margin-top: 30px;
        width: 90%;
        max-width: 300px;
        font-size: 12px;
    }

    .section__about a {
        margin-top: 20px;
    }

    .about {
        font-size: 30px;
    }

    .section__about button {
        height: 25px;
        max-width: 80px;
        font-size: 10px;
    }

    .section__skills h1 {
        font-size: 24px; 
    }

    .container__skills {
        margin-top: 30px; 
        gap: 20px; 
    }

    .skill {
        height: 100px; 
        width: 100px; 
        font-size: 14px; 
    }

    .skill i {
        font-size: 50px;
    }

        .section__education h1 {
            font-size: 24px;
            margin-top: 80px; 
            padding: 30px; 
        }

        .container__edu {
            gap: 20px; 
        }

        .edu {
            padding: 15px; 
            margin-bottom: 20px; 
        }

        .edu img {
            padding: 5px; 
        }

        .section__proyects h1 {
            font-size: 24px;
            margin-top: 80px; 
            padding: 30px; 
        }

        .container__proyects {
            gap: 20px; 
        }

        .proyect {
            font-size: 18px; 
            padding: 15px; 
            margin-bottom: 20px;
        }

        .section__contac h1 {
            font-size: 1.2rem; 
        }
    
        .section__contac form {
            max-width: 250px; 
            padding: 8px; 
        }
    
        .section__contac input,
        .section__contac textarea {
            padding: 6px; 
            margin-bottom: 0.3rem; 
        }
    
        .section__contac button {
            padding: 6px 12px; 
}

}